* {
	font-family: helvetica, arial, sans-serif;
}

.container {
	width: 1440px;
	margin: auto;
	text-align: center;
	
}
img {
	height: 25%; 
	width: 25%;

}

.headers {
	text-align: center;
}
body {
	background: #E6E6FA;
}

hr {
	border: none;
	color: #1E90FF;
	background-color: #1E90FF;
	height: 10px;
}

h1:first-letter {
	color: #1E90FF;
}

.denis {
	font-weight: bolder;
	font-size: 20px;

}

.matvei {
	font-weight: bolder;
	font-size: 20px;
	
}

.text1:first-letter {
	color: #1E90FF;

}

.text2:first-letter {
	color: #1E90FF;
	
}